.layanan {
  margin-left: 320px;
  padding-top: 24px;
  /* background-color: aqua; */
}

.titleWarp{
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-right: 32px;
  margin-bottom: 40px;
}

.layananTitle {
  font-size: 32px;
  font-weight: 700;
}

.btn-1:hover {
  background-color: #4f46e5!important;
  border-color: transparent!important;
}


.catSort {
  gap: 16px;
  margin-bottom: 16px;
}

.btn-2 {
  color: black!important;
  background-color: white!important; 
  border-color: #D8DCDF!important;
}

.btn-3 {
  color: #4f46e5!important;
  border-color: #4f46e5!important;
}

.btn-3:hover {
  color: #FFF!important;
  background-color: #4f46e5!important;
  border-color: transparent!important;
}

.katalog {
  display: flex;
  padding: 40px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-right: 32px;
  margin-bottom: 40px;

  border-radius: 12px;
  background: #FFF;
}

p {
  margin-bottom: 0px!important;
}